<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 컬렉션 타입 프로퍼티 설정 -->
	<!-- List 타입 프로퍼티 설정 -->
	<bean name="scoreOutput" class="kr.spring.practice.ScoreOutput">
		<property name="score">
			<!-- type 생략 가능 -->
			<list value-type="java.lang.Double">
				<value>75.6</value>
				<value>83.0</value>
			</list>
		</property>
	</bean>
</beans>
